<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>3D Model</title>
        <script
            type="module"
            src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"
        ></script>
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
        <link rel="stylesheet" href="static/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
          <nav id = "navbar">
            <a href="/">Home?!!</a>
            <a href="/Therapist">Therapist</a>
            <a href="/DrawZone">DrawZone</a>
            <a href="/Journal">Journal</a>
          </nav>


          <!-- don't close it or it might break
        I can't see it on the homepage tho
      wait what show me photos
      check disc
        ok--!>

  